.burger{
	display: none;
 	height: 20px;
  	width: 26px;
  	position: relative;
  	cursor: pointer;
}
.burger span{
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 3px;
	top: 9px;
	transition: all 0.4s;
}
.burger:before,
.burger:after{
	content: " ";
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 2px;
	transition: all 0.4s;
	border-radius: 3px;
}
.burger:before{
	top: 0;
}
.burger:after{
	bottom: 0;
}
.burger.active span{
	transform: scale(0);
}
.burger.active:before{
	transform: rotate(45deg);
	top: 9px;
}
.burger.active:after{
	transform: rotate(-45deg);
	bottom: 9px;
}
@media (max-width: 767px) {
	.burger{
		display: block;
	}
}