.person{
	max-width: 720px;
	margin: 0 auto;
}
.person__cart{
	display: flex;
	justify-content: space-between;
	background: #7f8da75c; 
	padding: 10px;
	border-radius: 5px;
}
.person__profile{
	flex: 0 1 250px;
}
.person__name{
	padding: 10px;
	background: #650080;
	border-radius: 5px; 
	text-align: center;
}
.person__photo{
	border-radius: 5px;
}
.person__info{
	flex: 0 1 520px;
}
.person__title{
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	margin-right: 20px;
	color: #ffffff;
}
.person__value{
	font-size: 16px;
	font-weight: 600;
	color: #7ee1fe;
	text-transform: uppercase;
	text-decoration: underline;
}
.person__homeworld{
	padding-left: 30px;
}
.person__block{
	display: flex;
	justify-content: center;
}
@media (max-width: 576px) {
	.person__cart,
	.person__block{
		justify-content: center;
		flex-wrap: wrap;
	}
}