.homeworld{
	padding-left: 30px;
}
.homeworld__title{
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	margin-right: 20px;
	color: #ffffff;
}
.homeworld__value{
	font-size: 16px;
	font-weight: 600;
	color: #7ee1fe;
	text-transform: uppercase;
	text-decoration: underline;
}
@media (max-width: 767px) {
	.homeworld__title,
	.homeworld__value{
		font-size: 12px;
		line-height: 18px;
	}
	.homeworld{
		padding-left: 10px;
	}
}
@media (max-width: 576px) {
	.homeworld{
		flex: 0 1 100%;
		padding-left: 0;
	}
}