.error{
	max-width: 250px;
	margin: 0 auto;
	text-align: center;
}
.error__text{
	font-size: 28px;
	color: #ffffff;
	font-weight: 700;
	text-shadow: 0 0 15px #ffffff;
}
.error__img{
	margin: 20px 0;
	width: 250px;
}
.error__btn{
	color:  #ffffff;
	font-size: 20px;
	font-weight: 600;
	text-shadow: 0 0 15px #ffffff;
}