.information{
	flex: 1 1 30%;
	margin: 0 10px;
}
.information__title{
	padding: 10px;
	background: #650080;
	border-radius: 5px; 
	text-align: center;
}
.information__items{
	background: #7f8da75c; 
	padding: 10px;
	border-radius: 5px;
}
.information__item{
	background: #0a1518;
	padding: 10px;
	margin: 10px 0;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #2c5c73;
	box-sizing: border-box; 
	will-change: transform; 
	transition: all 0.7s ease 0s;
}
.information__item:hover{
	box-shadow: 0 3px 10px 5px #2c5c73;
	transform: scaleX(1.03);
	transition: all 0.7s ease 0s; 
}
.information__name{
	color: #7ee1fe;
}
.information__coment{
	max-width: 850px;
	background: #7f8da75c; 
	padding: 10px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
}
@media (max-width: 576px) {
	.information{
	flex: 1 1 100%;
	margin: 0 10px;
	}
	.information__coment{
		font-size: 16px;
	}
}