.menu{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 65px;
	right: 0;
	transform: translateX(150%);
	transition: all 0.7s ease 0s; 
}
.menu.active{
	transform: translateX(0);
	transition: all 0.7s ease 0s; 
}
.menu__blur{
	position: absolute;
	width: 100%;
	height: 100vh;
	right: 40%;
	backdrop-filter: blur(2px);
}
.menu__body{
	position: absolute;
	width: 40%;
	height: 100vh;
    background: #36362e;
    top: 0px;
    right: 17px;
	text-align: center;
}
.menu__item{
	padding: 10px 0;
}
.menu__link{
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	transition: all 0.7s ease 0s; 
}
.menu__activeLink{
	color: #7ee1fe;
	transition: all 0.7s ease 0s;
}
@media (max-width: 576px) {
	.menu__body{
		width: 100%;
	}
}