.notFound{
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
}
.notFound__code{
	font-size: 98px;
	color: #ffffff;
	font-weight: 700;
    text-shadow: 0 0 15px #ffffff;
}
.notFound__text{
	font-size: 30px;
	color: #ffffff;
	font-weight: 700;
	text-shadow: 0 0 15px #ffffff;
}
.notFound__path{
	font-size: 16px;
	color: #ffffff;
	font-weight: 700;
}
.notFound__img{
	margin: 20px 0;
	width: 150px;
}