.species{
	max-width: 720px;
	margin: 0 auto 20px auto;
}
.species__cart{
	display: flex;
	justify-content: space-between;
	background: #7f8da75c; 
	padding: 10px;
	border-radius: 5px;
}
.species__profile{
	flex: 0 1 250px;
}
.species__name{
	padding: 10px;
	background: #650080;
	border-radius: 5px; 
	text-align: center;
}
.species__photo{
	border-radius: 5px;
}
@media (max-width: 576px) {
	.species__cart{
		justify-content: center;
		flex-wrap: wrap;
	}
}