.characters{
	margin-top: 40px;
}
.characters__list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.characters__item{
	flex: 0 1 9%;
	margin: 10px 5px;
	background: #ffffff;
	border-radius: 5px;
	border: 1px solid #7C6AFA;
	box-sizing: border-box; 
	transition: all 0.7s ease 0s; 

}
.characters__photo{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	object-fit: cover;
	object-position: center center;
}
.characters__name{
	font-size: 12px;
	color: #000000;
	text-align: center;
	padding: 5px 0;
}
.coment{
	text-align: center;
}