.people__list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.people__item{
	flex: 0 1 18%;
	margin: 15px 10px;
	background: #0a1518;
	border-radius: 5px;
	border: 1px solid #2c5c73;
	box-sizing: border-box; 
	transition: all 0.7s ease 0s;
	will-change: transform, box-shadow; 
}
.people__item:hover{
	box-shadow: 0 3px 10px 5px #2c5c73;
	transform: translateY(-5px);
	transition: all 0.7s ease 0s; 
}
.people__photo{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.people__name{
    font-size: 18px;
    font-weight: 600;
	color: #7ee1fe;
	text-align: center;
	padding: 10px 0;
}
@media (max-width: 992px) {
	.people__item{
		flex: 0 1 22%;
	}
	.people__name{
		font-size: 14px;
	}
}
@media (max-width: 767px) {
	.people__item{
		flex: 0 1 29%;
	}
	.people__name{
	    font-size: 12px;
	    padding: 10px 3px;
	}
}
@media (max-width: 576px) {
	.people__item{
		flex: 1 1 34%;
	    margin: 10px;
	}
}
@media (max-width: 350px) {
	.people__name{
	    font-size: 10px;
	}
}