body{
	background: url(./image/globalBg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
}
.wrapper{
	font-family: 'Open Sans', sans-serif;
   padding: 0 15px;
   max-width: 1400px;
   height: 100vh;
   margin: 0 auto;
   overflow-x: hidden;
   color: #ffffff;
}
.wrapper a{
	text-decoration: none;
}
.wrapper img{
	max-width: 100%;
}
.wrapper p{
   margin: 0;
   padding: 0; 
}
