.vehicles__list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.vehicles__item{
	flex: 0 1 18%;
	margin: 20px 10px;
	background: #0a1518;
	border-radius: 5px;
	border: 1px solid #2c5c73;
	box-sizing: border-box; 
	transition: all 0.7s ease 0s;
	will-change: transform, box-shadow; 
}
.vehicles__item:hover{
	box-shadow: 0 3px 10px 5px #2c5c73;
	transform: translateY(-5px);
	transition: all 0.7s ease 0s; 
}
.vehicles__photo{
    padding: 33.5% 0;
    background-size: contain;
    position: relative;
}
.vehicles__photo:before{
	content: "NO PICTURE THERE IS.";
	position: absolute;
    top: 20px;
	font-size: 20px;
	text-align: center;
	color: #ffff00;
    padding: 0 10px;
	z-index: -1;
}
.vehicles__name{
	font-size: 18px;
    font-weight: 600;
	color: #7ee1fe;
	text-align: center;
	padding: 10px 0;
}
@media (max-width: 992px) {
	.vehicles__item{
		flex: 0 1 22%;
	}
	.vehicles__name{
		font-size: 14px;
	}
}
@media (max-width: 767px) {
	.vehicles__item{
		flex: 0 1 29%;
	}
	.vehicles__name{
	    font-size: 12px;
	    padding: 10px 3px;
	}
}
@media (max-width: 576px) {
	.vehicles__item{
		flex: 1 1 34%;
	    margin: 10px;
	}
	.vehicles__photo:before{
		font-size: 16px;
	}
}
@media (max-width: 350px) {
	.vehicles__name{
	    font-size: 10px;
	}
}