.information__title{
	padding: 10px;
	background: #650080;
	border-radius: 5px; 
	text-align: center;
}
.information__items{
	max-width: 850px;
	background: #7f8da75c; 
	padding: 10px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	transition: all 0.7s ease 0s;
}
.information__item{
	flex: 0 1 70px;
	margin: 5px;
	transition: all 0.7s ease 0s; 
	will-change: transform;
}
.information__item:hover{
	transform: scale(1.1);
	transition: all 0.7s ease 0s; 
}
.information__photo{
	width: 70px;
	height: 70px;
	border-radius: 5px;
}
.information__coment{
	max-width: 850px;
	background: #7f8da75c; 
	padding: 10px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
}
@media (max-width: 767px) {
	.information__coment{
		font-size: 16px;
	}
}