.search{
	max-width: 500px;
	margin: 30px auto;
	position: relative;
}
.search__input{
	width: calc(100% - 55px);
	height: 40px;
	border-radius: 5px;
	border: none;
	padding: 0 35px 0 20px;
	font-size: 16px;
}
.search__input:focus{
	outline: none;
}
.search__input::placeholder {
	color: #000000;
}