.info{
	flex: 0 1 520px;
	padding: 0 20px 0 30px;
}
.info__subtitle{
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	margin-right: 20px;
}
.info__value{
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	color: #ffff00;
}
@media (max-width: 767px) {
	.info__subtitle,
	.info__value{
		font-size: 12px;
		line-height: 18px;
	}
	.info{
		padding: 0 10px;
	}
}
@media (max-width: 576px) {
	.info{
		flex: 0 1 100%;
		padding: 10px 0;
	}
}