.planet{
	max-width: 850px;
	margin: 0 auto 20px auto;
}
.planet__cart{
	display: flex;
	justify-content: space-between;
	background: #7f8da75c; 
	padding: 10px;
	border-radius: 5px;
}
.planet__profile{
	flex: 0 0 250px;
}
.planet__title{
	padding: 10px;
	background: #650080;
	border-radius: 5px;
	text-align: center;
}
.planet__photo{
	padding: 50% 0;
    background-size: contain;
	border-radius: 5px;
    position: relative;
}
.planet__photo:before{
	content: "NO PICTURE THERE IS.";
	position: absolute;
    top: 20px;
	font-size: 25px;
	text-align: center;
	color: #ffff00;
    padding: 0 10px;
	z-index: -1;
}
@media (max-width: 576px) {
	.planet__cart{
		justify-content: center;
		flex-wrap: wrap;
	}
}