.link{
	color: #ffff00;
	font-size: 20px;
	font-weight: 600;
	display: flex;
	align-items: center;
}
.link__img{
	width: 30px;
	animation: arrow 0.7s linear 0s infinite alternate;
}

@keyframes arrow {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(5px);
	}
}
@media (max-width: 767px) {
	.link{
		font-size: 16px;
	}
	.link__img{
		width: 20px;
	}
}