.navbar{
	max-width: 850px;
	margin: 20px auto 30px;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 100;
}
.navbar__logo{
	flex: 0 0 70px;
	margin-right: 20px;
}
.navbar__items{
	flex: 0 1 700px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.item{
	font-size: 16px;
	font-weight: 600;
	text-shadow: 0 0 10px #ffffff;
	min-width: 80px;
	box-sizing: border-box;
	color: #ffffff;
	padding: 5px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: all 0.7s ease 0s; 
}
.item:hover{
	color: #7ee1fe;
   	transition: all 0.7s ease 0s; 
}
.item:before{
	content: '';
	position: absolute;
	display: block;
	right: 0;
	width: 0;
	height: 1px;
	background:  #7ee1fe;
	margin-bottom: 29px;
	transition: all 0.7s ease 0s; 
}
.item:after{
	content: '';
	position: absolute;
	display: block;
	left: 0;
	width: 0;
	height: 1px;
	background: #7ee1fe;
	margin-top: 28px;
	transition: all 0.7s ease 0s; 
}
.item:hover:before,
.item:hover:after{
	width: 100%;
}
.active{
	color: #7ee1fe;
	border: 1px solid  #7ee1fe;
	box-shadow: 0 0 30px 2px #7ee1fe;
	transition: all 0.7s ease 0s; 
}
@media (max-width: 767px) {
	.navbar{
		max-width: 100%;
		margin: 0 0 20px 0;
		padding: 10px ;
	    background: #36362e;
	}
	.navbar:before,
	.navbar:after{
		position: absolute;
		content: "";
		right: 100%;
		top: 0;
		height: 100%;
		display: block;
		width: 50vw;
		background: #36362e;
		z-index: -1;
	}
	.navbar:before{
		right: 100%;
	}
	.navbar:after{
		left: 100%;
	}
	.navbar__items{
		display: none;
	}
}