.home__blockImg{
	max-width: 1400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.home__block{
	margin-bottom: 30px;
}
.home__img{
	flex: 0 1 25%;
}
.home__logo{
	flex: 1 1 50%;
}
.home__text{
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	padding: 0 35px;
	color: #ffff00;
}
@media (max-width: 767px) {
	.home__img{
		flex: 0 0 24%;
	}
	.home__text{
	    font-size: 14px;
	}
}
@media (max-width: 576px) {
	.home__img{
		display: none;
	}
}