.pagination{
	max-width: 200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.pagination__btn{
	font-size: 16px;
	font-weight: 700;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: #ffffff;
	color: #000000;
	margin: 0 5px;
	cursor: pointer;
	transition: all 0.7s ease 0s; 
	box-sizing: border-box;
}
.pagination__btn:disabled{
	opacity: 0.5;
	pointer-events: none;
}
.pagination__btn:hover{
	background: #2c5c73;
	box-shadow: 2px 2px 2px 2px #0d0818;
	transition: all 0.7s ease 0s; 
}
.pagination__btn:focus{
	outline: none;
}
.pagination__pageNumber{
	font-size: 16px;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background: #ffffff;
	color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	cursor: pointer;
	transition: all 0.9s ease 0s; 
}
.pagination__pageNumber:hover{
	background: #2c5c73;
	color: #ffffff;
	box-shadow: 2px 2px 2px 2px #0d0818;
	transition: all 0.7s ease 0s; 
}
.pagination__page{
	background: #2c5c73;
	color: #ffffff;
	transition: all 0.7s ease 0s; 
}