.film{
	max-width: 850px;
	margin: 0 auto;
}
.film__cart{
	display: flex;
	justify-content: space-between;
	background: #7f8da75c; 
	padding: 10px;
	border-radius: 5px;
}
.film__profile{
	flex: 0 0 250px;
}
.film__title{
	padding: 10px;
	background: #650080;
	border-radius: 5px;
	text-align: center;
}
.film__poster{
	border-radius: 5px;
}
.film__items{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
@media (max-width: 576px) {
	.film__cart,
	.film__items{
		justify-content: center;
		flex-wrap: wrap;
	}
}